.background {
    height: 81vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    margin-top: 8vh;
}

.imageBlock {
    width: 45vw;
    height: 70vh;
    margin: 12vh 2vw 0 2vw;
}

.imageBlock img {
    border-radius: 15px;
    width: 100%;
    height: 58vh
}

.detailsBlock {
    width: 35vw;
    margin: -5vh 0 0 2vw;
}

.vote {
    display: flex;
    align-items: center;
    margin-top: -1vh;
}

.vote h3 {
    margin-left: 2vh;
}

.overview {
    width: 33vw;
    margin-top: -1vh;
}

.wrapper {
    background-color: rgba(148, 142, 199, 0.5);
    display: flex;
    justify-content: center;
    height: 70vh;
    border-radius: 20px;
    align-items: center;
}

.badges {
    display: flex;
}