.header {
    height: 10vh;
    width: 100vw;
    align-items: center;
    display: flex;
    background-color: #111111;
}

.light {
    background-color: #9e8fb2;
    background-image: linear-gradient(315deg, #9e8fb2 0%, #a7aad3 74%);
}

.header a {
    margin: 2vh;
    font-size: 3vh;
    color: lavender;
    text-decoration: none;
    transition: 0.5s;
}

.header a[class= 'active'] {
    color: darkgrey;
    font-weight: bold;
}

.header a:hover {
    transform: scale(1.1);
}

.headerLogo {
    width: 33.3vw;
}

.headerLogo img {
    margin-left: -0.5vw;
    height: 8vh
}

.headerLinks {
    width: 33.3vw;
    display: flex;
    justify-content: space-evenly;
}

.lightLinks a {
    color: #252049;
}

.lightLinks a[class= 'active'] {
    color: #96edff;
    font-weight: bold;
}

.headerUser {
    width: 5vw;
    display: flex;
    justify-content: right;
    margin-right: 2vw;
}

.switch {
    width: 29vw;
    display: flex;
    justify-content: right;
}