.movieList {
    display: flex;
    justify-content: center;
    min-height: 89vh;
    height: 100%;
    width: 100%;
}

.movieListLoad {
    height: 268vh;
}

.moviesWrap {
    display: flex;
    flex-wrap: wrap;
    width: 90vw;
}