.light {
    background-color: #efbec5;
    background-image: linear-gradient(315deg, #7ee8fa 0%, #eed2d5 80%);
    color: #1F1F29;
}

.dark {
    background-color: #7f5a83;
    background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
    color: #E5E1E1;
}
